.summary-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.greeting {
  color: #012ab7;
  padding: 10px;
}
.greeting p {
  color: #000;
  padding: 10px;
  font-size: 1.1rem;
}
.user-name {
  font-style: italic;
  background-color: #f5c10472;
  padding: 2px;
  text-decoration: underline;
}
.summary-details {
  display: flex;
  padding: 10px 15px;
  justify-content: space-evenly;
}
.proficiency,
.language,
.points,
.ranking {
  min-height: 100px;
  width: 20%;
  padding: 15px 10px;
  margin: 0 10px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.322);
}
.proficiency {
  background: linear-gradient(45deg, #3498db, #1abc9c);
}
.language {
  background: linear-gradient(45deg, #e74c3c, #3498db);
}
.points {
  background: linear-gradient(45deg, #1abc9c, #f5c104);
}
.ranking {
  background: linear-gradient(45deg, #f5c104, #e74c3c);
}
.summary-head {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.card-h3 {
  font-size: 2rem;
  margin: 0;
  color: #000;
}

.card-h3 span {
  font-size: 1.5rem;
  color: #fff;
}
@media screen and (max-width: 870px) {
  .summary-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .proficiency,
  .language,
  .points,
  .ranking {
    width: 90%;
  }
}
@media screen and (max-width: 540px) {
  .greeting h1 {
    font-size: 1.6rem;
  }
  .summary-details {
    display: grid;
    gap: 10px;
  }
  .proficiency,
  .language,
  .points,
  .ranking {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 460px) {
  .greeting h1 {
    font-size: 1rem;
  }
  .greeting p {
    font-size: 0.7rem;
  }
  .summary-head {
    font-size: 0.8rem;
    text-wrap: nowrap;
  }
  .card-h3 {
    font-size: 0.8rem;
  }
  .card-h3 span {
    font-size: 0.75rem;
  }
  .proficiency,
  .language,
  .points,
  .ranking {
    padding: 10px 5px;
    min-height: 0;
  }
}
